.task {
  border-radius: 24px;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 6px 58px 0 rgba(196, 203, 214, 0.10);
  &__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__column-avatars{
    display: flex;
  }
  &__index {
    margin-bottom: 4px;
  }
  &__overview {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__date {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
  }
  &__column-name {
    margin-bottom: 4px;
  }
  &__column-data {
    color: #0A1629;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%
  }
  &__line {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 16px;
  }
}
