@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.login {
  width: 100%;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 28px 0;
  box-shadow: 0 6px 58px 0 rgba(196, 203, 214, 0.1);
  background-color: rgb(255, 255, 255);
  &__title {
    text-align: center;
  }
  &__form {
    padding: 0 20px;
  }
  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }
  &__password {
    margin-bottom: 28px;
  }
  &__forgot {
    line-height: 150%;
    color: rgb(125, 133, 147);
    text-decoration: none;
  }
  &__reset {
    background-color: transparent;
    border: transparent;
    line-height: 150%;
    color: rgb(125, 133, 147);
  }
  &__button {
    margin-bottom: 20px;
  }
  &__choise {
    flex-grow: 1;
    flex-basis: 0;
  }
  &__pop-up {
    display: flex;
    column-gap: 20px;
    padding: 0 20px;
  }
  &__link {
    margin: 0 auto;
  }
  &__email {
    margin-bottom: 28px;
  }
}

