.add-employee {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  column-gap: 24pxpx;
  &__list-member {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    column-gap: 12px;
  }
  &__add {
    padding: 0 20px;
    margin-top: 28px;
  }
  &__approve {
    margin-top: 20px;
    padding: 0 20px;
  }
}
